.call-info-button {
    display: flex;
    align-items: center; /* Выравнивание по центру */
    background-color: #f9f9f9;
    color: #6c757d;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* Минимальная высота кнопки для равномерного отображения */
    min-height: 40px;
}

/* Стили для кружка */
.circle {
    width: 10px; /* Размер кружка */
    height: 10px; /* Размер кружка */
    border-radius: 50%; /* Делаем круг */
    margin-right: 10px; /* Отступ между кружком и текстом */
    display: inline-block;
    background-color: #d82727; /* Временно установите цвет для проверки */
}

.call-info-button:hover {
    background-color: #e9ecef;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.call-info-button:active {
    transform: scale(0.98);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.call-info-button:focus {
    outline: none;
}