.call-buttons-area {
    display: flex;
    flex-direction: column; /* Вертикальное расположение кнопок */
    width: 300px; /* Фиксированная ширина */
    max-height: 70vh; /* Максимальная высота 70% от экрана */
    background-color: #f5f5f5; /* Бледно-серый фон */
    border-radius: 16px; /* Скруглённые края */
    padding: 20px; /* Внутренние отступы */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
    width: 140vh;

    margin-left: auto;
    margin-right: auto;
}

/* Стили для пользовательской полосы прокрутки */
.call-buttons-area::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
}

.call-buttons-area::-webkit-scrollbar-thumb {
    background-color: #d82727; /* Цвет ползунка */
    border-radius: 10px; /* Скруглённые края ползунка */
}

.call-buttons-area::-webkit-scrollbar-track {
    background: #f5f5f5; /* Цвет фона полосы прокрутки */
}

/* Отступы между кнопками */
.call-buttons-area > * + * {
    margin-top: 15px; /* Внешний отступ между кнопками */
}